@import url("../../../../styles/fonts.css");

#almacenBigBox {
    width: 100%;
    height: 96%;
    margin-top: 2%;
    margin-bottom: 2%;
    grid-column: 2;
    display: grid;
    grid-template-rows: 20% 80%;
    
    overflow-y:auto;
    pointer-events: all;
    
}

a {
    pointer-events: all;
}

#pokemon-cards-container {
    width: 100%;
    height: 96%;
    display: grid;
    justify-content: center;
    grid-template-columns: 10vw 10vw 10vw 10vw 10vw;
    grid-column-gap: 2vw;
    
}

#filtros {
    text-align: center;
    align-content: center;
    width: 100%;
    height: 80%;
    display: flex;
    font-family: vanilla-regular;
    color: white;
    
    flex-wrap: wrap;
    flex-direction: column;
}

#filtros svg {
    height: 5vh;
    margin-right: 2vw;
    width: auto;
}

.inputElem {
    max-height: 80%;
    margin-right: 1em;
    font-family: vanilla-regular;
    border-radius: 1vw;
    border: 0.2vw solid gray;
    color: gray;
    text-align: center;
    pointer-events: all;
    width: 15vw;
    height: 6vh;
    outline: none;
}

input.inputElem {
    max-height: 63%;
}

option 
{
    font-family: vanilla-regular; /* No parece afectar (?)*/
}

.inputElemSmall {
    max-height: 80%;
    margin-right: 1em;
    font-family: vanilla-regular;
    border-radius: 1vw;
    border: 0.2vw solid gray;
    color: gray;
    text-align: center;
    width: 10vw;
    height: 6vh;
    pointer-events: all;
}

#checkBoxContainer {
    max-height: 80%;
    
}

#checkBoxContainer > div {
    display: flex;
}

#checkBoxContainer > div > input {
    color: white;
    border: 0.2vw solid gray;
    pointer-events: all;
}

.loadingPokemon
{
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100%;
}

.borradoMultipleContainer
{
    position: absolute;
    bottom: 1vh;
    z-index: 4;
    width: 5%;
    right: 2.3vw;
    display: flex;
    flex-direction: column;
    min-width: 40px;
}

@media screen and (max-width: 670px)
{
    .borradoMultipleContainer
    {
        right: 2.5vw;
    }
}

.borradoMultipleContainer button
{
    font-family: vanilla-regular;
    color: white;
    background-color: #fb6c6c;
    border: 0.3vw solid #9f4949;
    border-radius: 0.8vw;
    height: 100%;
    width: 100%;
    margin-top: 0.7vh;
    pointer-events: all;
    font-size: calc(2px + 0.8vw);
    min-width: 0;
}

.borradoMultipleContainer button:hover 
{
    background-color: #7d3939;
}

.borradoMultipleContainer button svg 
{
    width: 80%;
    height: 80%;
}

.borradoMultipleContainer #borradoMultipleConfirm
{
    background-color: #00df09;
    border: 0.3vw solid #89ff8e;
}

.borradoMultipleContainer #borradoMultipleConfirm:hover 
{
    background-color: #006d04;
}


.borradoMultipleConfirmDisabled
{
    opacity: 0.5;
}

.borradoMultipleConfirmDisabled:hover
{
    background-color: #00df09 !important;
}

.borradoMultipleContainer div 
{
    width: 100%;
    height: 10%;
    margin-bottom: 1vh;
}

.borradoMultipleContainer div > p 
{
    position: relative;
    align-self: center;
}

.warningMessage {
    color: rgb(162, 0, 0);
}

.pokemonNameLiberar {
    color: black;
    margin: 0;
}

.rareSpeciesFound {
    color: rgb(170, 164, 255);
}

.megaFound {
    color: rgb(255, 111, 159);
}

.shinyFound {
    color: rgb(225, 227, 104);
}

.modal-open {
    overflow: hidden;
    pointer-events: none;
}

.modal-open * {
    pointer-events: none;
}

.modal-open .MuiModal-root {
    pointer-events: all;
}

@media screen and (max-width: 900px)
{
    #pokemon-cards-container
    {
        grid-template-columns: 12.5vw 12.5vw 12.5vw 12.5vw;
    }
    .entryBox 
    {
        height: 12.5vw;
    }

}

@media screen and (max-width: 700px)
{
    #pokemon-cards-container
    {
        grid-template-columns: 16.66vw 16.66vw 16.66vw;
    }
    .entryBox 
    {
        height: 16.66vw;
    }
    #filtros
    {
        display:grid;
        width: 100%;
        grid-template-rows: 20% 26% 26% 26%;
    }
    #filtros > div > .inputElem{
        width: 55vw;
    }
    #filtros > div > .inputElemSmall {
        width: 26.5vw;
    }
    #almacenBigBox {
        grid-template-rows: 40% 60%;
    }
}

@import url("./pokemonCard.css");

@import url("./types.css");