table {
  width: 100%;
  height: 100%;
}

tr {
  height: 50%;
}

.primerVistaInicioIntercambioBody {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.intercambioTextoInicio {
  color: white;
}

.intercambioInputCodigo {
  width: 50%;
  height: 50%;
  border-radius: 15px;
}

.intercambioBoton {
  width: 200px;
  height: 100px;
  padding: 10px 20px;
  border: 2px solid #333;
  background-color: green;
  color: white;
  border-radius: 30px;
  cursor: pointer;
}
