.rankBox 
{
    width: 60vw;
    height: 4.5vw;
    background-color: white;
    border-radius: 3vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 1.5vh;
}

.rankContent
{
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding: 0 2vw;
}

.rankTitle
{
    height: 100%;
    display: flex;
    align-items: center;
}

.rankTitle > p
{
    color: black;
    font-size: 1.5vw;
}

.firstPosition
{
    color: gold;
}

.secondPosition
{
    color: silver;
}

.thirdPosition
{
    color: #854300;
}

.rankData
{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.rankData > p
{
    color: black;
    font-size: 1vw;
}

.rankData > .pokemonImg
{
    width: 3.5vw;
    height: 3.5vw;
    position: relative;
    right: 0;
    top: 0;
    margin-left: 0.75vw;
}

/* Media queries for responsiveness */
@media (max-width: 1100px) {
    .rankBox {
        width: 70vw;
        height: 7vw;
        border-radius: 6vw;
    }

    .rankTitle > p {
        font-size: 2.5vw;
    }

    .rankData > p {
        font-size: 2vw;
    }

    .rankData > .pokemonImg {
        width: 5vw;
        height: 5vw;
    }
}
@media (max-width: 700px) {
    .rankBox {
        width: 80vw;
        height: 10vw;
        border-radius: 6vw;
    }

    .rankTitle > p {
        font-size: 3vw;
    }

    .rankData > p {
        font-size: 2.5vw;
    }

    .rankData > .pokemonImg {
        width: 7vw;
        height: 7vw;
    }
}