.rankBox 
{
    width: 60vw;
    height: 4.5vw;
    background-color: white;
    border-radius: 3vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 1.5vh;
}

.rankTitle > p
{
    text-align: left;
    color: black;
    font-size: 2vw;
    padding-left: 2vw;
    padding-top: 1vw;
}