.normal 
{
    background-color: rgb(155, 163, 187);
}

.fire 
{
    background-color: rgb(155,60,50);
}

.water
{
    background-color: rgb(62,116,217);
}

.grass
{
    background-color: rgb(46,163,68);
}

.bug
{
    background-color: rgb(91,163,117);
}

.poison 
{
    background-color: rgb(111,62,187);
}

.electric 
{
    background-color: rgb(204,178,45);
}

.ground 
{
    background-color: rgb(144,123,76)
}

.rock 
{
    background-color: rgb(115,97,64);
}

.fairy 
{
    background-color: rgb(184,152,201);
}

.fighting 
{
    background-color: rgb(155,73,50);
}

.psychic 
{
    background-color: rgb(152,108,185);
}

.ghost 
{
    background-color: rgb(65,26,98);
}

.ice 
{
    background-color: rgb(150,207,223);
}

.dragon 
{
    background-color: rgb(17,22,91);
}

.steel 
{
    background-color: rgb(97,101,113);
}

.dark 
{
    background-color: rgb(44,48,60);
}

.flying 
{
    background-color: rgb(124,162,216);
}

.entryBox 
{
    border: 0.3vw solid rgba(255, 255, 255, 0.2);
}


.entryBox {
    border-width: 0.3vw;
    border-style: solid;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.entryBox.rare {
    border-color: rgb(170, 164, 255);
    animation-name: shineRare;
    animation-duration: 5s; /* Aumenta la duración para hacerla más lenta */
}

.entryBox.mega {
    border-color: rgb(255, 111, 159);
    animation-name: shineMega;
    animation-duration: 5s; /* Aumenta la duración para hacerla más lenta */
}

.entryBox.shiny {
    border-color: rgb(251, 255, 0);
    animation-name: shineShiny;
    animation-duration: 5s; /* Aumenta la duración para hacerla más lenta */
}

@keyframes shineRare {
    0% {
        border-color: rgb(170, 164, 255);
    }
    50% {
        border-color: rgb(225, 221, 255); /* Color más claro para mayor contraste */
    }
    100% {
        border-color: rgb(170, 164, 255);
    }
}

@keyframes shineMega {
    0% {
        border-color: rgb(255, 111, 159);
    }
    50% {
        border-color: rgb(255, 198, 225); /* Color más claro para mayor contraste */
    }
    100% {
        border-color: rgb(255, 111, 159);
    }
}

@keyframes shineShiny {
    0% {
        border-color: rgb(251, 255, 0);
    }
    50% {
        border-color: rgb(255, 255, 182); /* Color más claro para mayor contraste */
    }
    100% {
        border-color: rgb(251, 255, 0);
    }
}