.normal 
{
    background-color: rgba(255, 255, 255, 0.539);
}

.fire 
{
    background-color: rgba(255, 64, 0, 0.539);
}

.water
{
    background-color: rgba(70, 138, 255, 0.747);
}

.grass
{
    background-color: rgba(53, 255, 34, 0.539);
}

.bug
{
    background-color: rgba(136, 255, 125, 0.539);
}

.poison 
{
    background-color: rgba(173, 67, 255, 0.539);
}

.electric 
{
    background-color: rgb(204, 178, 45);
}

.ground 
{
    background-color: rgba(234, 181, 49, 0.539);
}

.rock 
{
    background-color: rgba(180, 132, 27, 0.539);
}

.fairy 
{
    background-color: rgba(204, 165, 214, 0.884);
}

.fighting 
{
    background-color: rgba(255, 89, 0, 0.539);
}

.psychic 
{
    background-color: rgba(250, 153, 252, 0.539);
}

.ghost 
{
    background-color: rgba(88, 0, 90, 0.539);
}

.ice 
{
    background-color: rgba(183, 250, 255, 0.779);
}

.dragon 
{
    background-color: rgba(12, 14, 86, 0.779);
}

.steel 
{
    background-color: rgba(114, 114, 114, 0.779);
}

.dark 
{
    background-color: rgba(47, 47, 47, 0.779);
}

.flying 
{
    background-color: rgba(149, 193, 246, 0.779);
}

.entryBox 
{
    border: 0.3vw solid rgba(255, 255, 255, 0.2);
}

.entryBox.shiny
{
    border: 0.3vw solid rgb(251, 255, 0);
}