#verPokemonAlmacenBigBox {
    width: 100%;
    pointer-events: all;
    overflow-y: none;
    grid-column: 2;
}

.MuiTypography-root {
    pointer-events: all;
}

.backButton {
    position: absolute;
    z-index: 5;
    top: 0;
    margin-top: 2vh;
    left: 0;
    width: 15%;
    height: 15%;
}

.backButton > a {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.backArrow > svg
{
    text-align: center;
    transform: scaleX(-1);
    color: white;
    font-size: 4vw;
    width: 100%;
    height: 100%;
}
@media screen and (min-width: 800px) {
    #verPokemonAlmacenBigBox 
    {
        display: grid;
        grid-template-columns: 33% 33% 33%;
    }
}

#infoAdicional 
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.5vh;
}

#infoAdicional > p {
    margin: 0;
}

.statsDiv {
    grid-column: 3;
    position: relative;
}


#statsFullStructure 
{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.stats
{       
    z-index: 4;
}

.botonLiberar {
    background-color: #fb6c6c;
    border: 0.3vw solid #9f4949;
    border-radius: 0.7vw;
    width: 4vw;
    height: 4vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1vw;
    margin-left: 1vw;
    pointer-events: auto;
    min-width: 10px;
    min-height: 10px;
}

.botonLiberar > svg {
    color: #ffffff;
    width: 75%;
    height: 75%;
    pointer-events: none;
}

.statsTemplate {
    position: absolute;
    z-index: 3;
}

.elemTexts {
    position: absolute;
    z-index: 7;
}

p {
    color: white;
    text-align: center;
    font-size: 1.7vw;
}



.entrenadorOriginal {
    margin-bottom: -2vw;
}


#infoGeneral {
    position: relative;
    width: 100%;
    height: 80%;
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2vh;
}

#infoGeneral svg {
    margin-left: 0.25vw;
    margin-right: 0.25vw;
}

#infoGeneral p {
    font-size: 2vw;
    margin: 0;
    margin-top: 3.5vh;
}

.TypographyText p {
    color: black;
    font-size: 100%;
}

.Typography-hoverContent {
    color: rgb(255, 230, 0);
}

.inlineContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#infoGeneral > img {
    width: 13vw;
    height: auto;
    position: relative;
    margin-bottom: 2%;
}

.nombreEO {
    color: rgb(182, 220, 254);
    font-size: 2vw;
}

.ValorRareza {
    color: rgb(182, 220, 254);
    margin-top: 0;
    font-size: 3vw;
}

.rareza > div > p > svg{
    width: 1.5vw;
    height: 1.5vw;
    color: white;
}

.pts {
    font-size: 1vw;
}

#statsDiv
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#tiposPokemon 
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    bottom: 0;
}

#tiposPokemon > div 
{
    width: 6vw;
    height: auto;
    padding: 0.5vh 1vw;
    border-radius: 2vw;
    font-size: calc(1px + 1vw);
}

.rareza1 {
    color: rgb(190, 190, 190);
}

.rareza2 {
    color: rgb(145, 255, 184);
}

.rareza3 {
    color: rgb(142, 198, 255);
}

.rareza4 {
    color: rgb(216, 139, 255);
}

.rareza5 {
    color: rgb(255, 223, 39);
}

.rareza6 {
    color: rgb(255, 100, 100);
}

#statsFullStructure 
{
    height: 100%;
    width: 100%;
}

@media screen and (max-width: 800px)
{
    #verPokemonAlmacenBigBox 
    {
        
        display:grid;
        justify-content: center;
        flex-direction: column;
        overflow-y: scroll;
        height:100%;
        width: 100%;
        gap: 2vh;
    }

    #verPokemonAlmacenBigBox > div 
    {
        height: 100%;
        width: 100%;
    }

    #infoGeneral 
    {
        margin-top: 1vh;
        gap: 0.5vh;
    }

    #infoGeneral p
    {
        font-size: 100%;
    }



    #infoGeneral > img 
    {
        width: 50%;
        margin-bottom: 10%;
    }

    #statsDiv > p 
    {
        margin: 0;
        font-size: 100%;
    }

    #infoAdicional > p {
        font-size: 100%;
    }
    
    #infoGeneral > p 
    {
        margin-top: 1.5vh;
        font-size: 100%;
    }

    

    .TypographyText p {
        color: black;
        font-size: 60%;
    }
    
}

@import url("./types.css");