body 
{
    margin: 0;
    padding: 0;
    background-color: black;
    background-image: url('../images/bg.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
    overflow: hidden; /* No scrolling */
}