/* Estilos y comportamiento de los paneles */

/* Borde superior del panel main */
#topBorder
{
    background: #2596be;
    border-top: 5px solid #5eccfc;
    border-left: 3px solid #5eccfc;
    border-right: 3px solid #5eccfc;
    border-radius: 60px 60px 0 0;

    width: 50%;
    height: 100px;
    margin: 0px;
    position: absolute;
    top: -12px;
    left: 50%;
    transform: translate(-50%, 50%);
    padding-bottom: 5px;

    position: relative;
    z-index: 1;
}

/* Centraliza el main panel */
#mainPanelContainer
{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Main Panel */
#mainPanel
{
    background: #2596be;
    border: 3px solid #5eccfc;
    border-radius: 40px;
    width: 90%;
    height: auto;
    margin: 40px 0;

    /* Tenemos 3 columnas dentro del panel */
    display: grid;
    grid-template-columns: 25% 50% 25%; 
    gap: 10px;

    position: relative;
    z-index: 0;
}

/* Coin Panel y Username Panel */
.subpanel
{
    background: #283a6c;
    border: 3px solid #001f76;
    border-radius: 40px;
    height: 80px;
    margin: 10px;

    display: inline-grid;

    position: relative;
    z-index: 2;
}

/* Centraliza los subpaneles en su subcontenedor */
.subpanelContainer
{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Coins Panel position */
#coinsPanelContainer 
{
    /* Solo en columna 1 está */
    grid-column-start: 1;
    grid-column-end: 1;
    margin-top: 30px;
    margin-left: 20px;
}

/* Logo position */
#logoContainer
{
    /* Solo en columna 2 está */
    grid-column-start: 2;
    grid-column-end: 2;
    position: relative;
    z-index: 3;
}

/* Username Panel position */
#usernamePanelContainer
{
    /* Solo en columna 3 está */
    grid-column-start: 3;
    grid-column-end: 3;
    margin-top: 30px;
    margin-right: 20px;
}

/* Roulette position */
#rouletteContainer
{
    /* Todas las columnas */
    grid-column-start: 1;
    grid-column-end: 3;
    margin-left: 40px;
    margin-right: 40px;
    height: 500px;
}