
#panelContainer
{
    display: flex;
    align-items: center;
    justify-content: center;
}

#panel
{
    background: #2596be;
    border: 3px solid #5eccfc;
    border-radius: 20px;
    width: 90%;
    height: 500px;
    margin: 40px 0;

    position: relative;
    z-index: 0;
}

#bordeSuperior
{
    background: #2596be;
    border-top: 5px solid #5eccfc;
    border-left: 3px solid #5eccfc;
    border-right: 3px solid #5eccfc;
    border-radius: 60px 60px 0 0;

    width: 60%;
    height: 100px;
    margin: 0px;
    position: absolute;
    top: -12px;
    left: 50%;
    transform: translate(-50%, 50%);
    padding-bottom: 5px;

    position: relative;
    z-index: 1;
}