#helpButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4vw;
  height: 6vh;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 0.4vh;
  margin-right: 0.1vw;
  z-index: 4;
}

#helpButton {
  cursor: pointer;
  width: 120%;
  height: 120%;
  color: white;
}
