@import url('../../../../styles/fonts.css');

#bottomelementsPanel > div 
{
    right: 0;
    position: absolute;
    margin-right: 1vw;
}

#bottomelementsPanel > div > button 
{
    right: 0;
    position: relative;
}

.liberarButton {
    background-color: #fb6c6c;
    border: 0.3vw solid #9f4949;
    border-radius: 0.7vw;
    width: 4vw;
    height: 4vw;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: auto;
    min-width: 30px;
    min-height: 30px;
    right: 0;
}

.liberarButton > svg {
    color: #ffffff;
    width: 75%;
    height: 75%;
    pointer-events: none;
}

#modal-modal-title {
    font-size: calc(0.8vh + 1.2vw);
    text-align: center;
    font-family: vanilla-regular;
    color: #1a437b;
}

#modal-modal-description {
    color: black;
    margin-bottom: 2vh;
    margin-top: 2vh;
    text-align: justify;
    font-size: calc(0.6vh + 1.3vw);
}

.MuiBox-root .entryBox {
    width: 10vw;
    justify-content: center;
}

.containerModal > a {
    pointer-events: none;
}

.containerModal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.coin {
    width: 2vw;
    height: 2vw;
    margin-right: 0.4vw;
}

.moneyCount {
    font-size: 1.2vw;
    font-family: vanilla-regular;
    color: #f3b03e;
    display: flex;
    
    margin-bottom: 2vw;
    align-items: center;
}

@media screen and (max-width: 900px)
{
    .MuiBox-root .entryBox
    {
        width: 12.5vw;
        height: 12.5vw;
    }
}

@media screen and (max-width: 700px)
{
    .MuiBox-root .entryBox 
    {
        width: 16.66vw;
        height: 16.66vw;
    }
}

.liberarButtonTitle 
{
    color: white;
    font-family: vanilla-regular;
    position: absolute;
    font-size: 0;
    opacity: 0;
    text-transform: none;
}

/* Animación del title */
@keyframes moveDown {
    0% { transform: translateY(0); }
    100% { transform: translateY(3vw); }
}

/* Animación del botón */
@keyframes moveUp {
    0% { transform: translateY(0); }
    100% { transform: translateY(-0.3vw); }
}

/* Opacidad del title */
@keyframes changeOpacity {
    0% { opacity: 0; }
    100% { opacity: 100; }
}

/* Tamaño del title */
@keyframes changeFontSize {
    0% { font-size: 0.2vw; }
    100% { font-size: 0.9vw; }
}

.liberarButton:hover
{
    animation: moveUp 0.5s ease-in-out forwards alternate;
}

.liberarButton:hover .liberarButtonTitle
{
    animation: changeOpacity 0.5s ease-in-out forwards alternate, 
                moveDown 0.5s ease-in-out forwards alternate,
                changeFontSize 0.5s ease-in-out forwards alternate;
}

.liberarButton.mouseleave
{
    animation: moveUp-Reverse 0.5s ease-in-out forwards alternate;
}

.liberarButton.mouseleave .liberarButtonTitle
{
    animation: changeOpacity-Reverse 0.5s ease-in-out forwards alternate, 
                moveDown-Reverse 0.5s ease-in-out forwards alternate,
                changeFontSize-Reverse 0.5s ease-in-out forwards alternate;;
}


/* Animación del title invertida */
@keyframes moveDown-Reverse {
    0% { transform: translateY(3vw); }
    100% { transform: translateY(0); }
}

/* Animación del botón */
@keyframes moveUp-Reverse {
    0% { transform: translateY(-0.3vw); }
    100% { transform: translateY(0); }
}

/* Opacidad del title */
@keyframes changeOpacity-Reverse {
    0% { opacity: 100; }
    100% { opacity: 0; }
}

/* Tamaño del title */
@keyframes changeFontSize-Reverse {
    0% { font-size: 0.9vw; }
    100% { font-size: 0.2vw; }
}